$color1: rgb(29, 29, 29);
$color2: rgb(153, 179, 105);

@mixin backgroundImage ($url) {
    background: rgba(27, 27, 27, 0.7) url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

@mixin h2h3 () {
    h2 {
        width: 70%;
        font-size: 300%;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: white;
    }

    h3 {
        width: 70%;
        margin-top: 2vh;
        font-size: 120%;
        color: $color2;
        text-align: center;
        font-style: italic;
        font-weight: lighter;
        color: rgb(192, 192, 192);
    }
}

@mixin divHorizontal () {
    box-sizing: content-box;
    width: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin sectionForm () {
    height: 50vh;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;

    h1 {
        margin-bottom: 10%;
    }
}

@mixin input () {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: solid 1px $color2;
}

@mixin container-general () {
    box-sizing: content-box;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}